meuapp/node_modules
meuapp-teste/node_modules
prime-flix/node_modules
fireapp/node_modules
fireapp-login/node_modules
contextapi/node_modules
task-manager/node_modules
performance/node_modules

# Local Netlify folder
.netlify
fireapp/src/firebaseConection.js
fireapp-login/src/firebaseConection.js