* {
    margin: 0;
    padding: 0 ;
}
header {
    background: #313131;
    color: #fff;
    padding: 10px;
}
header div {
    display: flex;
    gap: 10px;
}
header a {
    text-decoration: none;
    text-transform: uppercase;    
    color: #fff;
}
div.corpo {
    margin: 10px;
}